.304_5 { 
	overflow:hidden;
}
body { 
	background-color:rgba(1.0000000591389835, 5.000000176951289, 34.00000177323818, 1);
}

.nav img{
	min-width: 100px;
}
.container{
	max-width: 1180px;
	margin: auto;
}
.hero { 
	padding: 200px 60px;
	bottom:0;
	background-image:url(images/bg-flower-hero.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}
.portfolio { 
	background-color:#f7f7f7;
	text-align: center;
	padding: 1rem 0 ;
	display: flex;
	align-content: space-between;
}

footer { 
	padding: 200px 60px;
	bottom:0;
	background-image:url(images/bg-flower-footer.png);
	background-repeat:no-repeat;
	background-position: left bottom;
	text-align: center;
}

.portfolio img{
	flex: 1;
	padding: 0 1rem;
}

.about{
	display: flex;
	flex-direction: column;
}

@media (min-width:480px)
{
  .about {
    flex-direction:row;
  }
}

.narrow{
	width: 80%;
	font-size: 3rem;
	color: #A18B5C;
}

.why { 
	padding: 6rem 10rem;
}

h1 { 
	color:rgba(161.0000056028366, 139.0000069141388, 92.00000211596489, 1);
	font-family:GT Super Display;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
	max-width: 80%;
}
h2 { 
	color:rgba(255, 255, 255, 1);
	font-family:GT Super Display;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}

h3 { 
	color:whitesmoke;
	font-family:GT Super Display;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:3rem;
	padding: 2rem;
	font-weight: light;
}

h6{
	color: #A18B5C;
	font-family:Montserrat;
	font-size: 1.2rem;
	letter-spacing: 3px;
	text-transform: uppercase;

}
p { 
	color:white;
	font-family:Montserrat;
	text-align:left;
	font-size:1.5rem;
	letter-spacing:1;
	line-height:px;
}



.e305_36 { 
	color:rgba(255, 255, 255, 1);
	width:337px;
	height:66px;
	position:absolute;
	left:551px;
	top:2558px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:20;
	line-height:px;
}


}
.e311_50 { 
	width:145px;
	height:35px;
	position:absolute;
	left:451px;
	top:40px;
}
.e311_63 { 
	width:145px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.311_61 { 
	overflow:hidden;
}
.e311_61 { 
	width:145px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.e311_51 { 
	width:145.04400634765625px;
	height:26.58329963684082px;
	position:absolute;
	left:0px;
	top:0px;
}
.e311_52 { 
	background-color:rgba(77.00000301003456, 116.00000068545341, 121.00000038743019, 1);
	width:35.59349822998047px;
	height:26.58329963684082px;
	position:absolute;
	left:0px;
	top:0px;
}
.e311_53 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:10.654296875px;
	height:14.390400886535645px;
	position:absolute;
	left:41.52640151977539px;
	top:9.169899940490723px;
}
.e311_54 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:12.032402038574219px;
	height:11.738499641418457px;
	position:absolute;
	left:53.756500244140625px;
	top:12.130200386047363px;
}
.e311_55 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:11.600502014160156px;
	height:11.738499641418457px;
	position:absolute;
	left:67.75170135498047px;
	top:12.130200386047363px;
}
.e311_56 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:11.888198852539062px;
	height:15.418319702148438px;
	position:absolute;
	left:93.48780059814453px;
	top:8.450380325317383px;
}
.e311_57 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:12.012001037597656px;
	height:11.738499641418457px;
	position:absolute;
	left:107.322998046875px;
	top:12.130200386047363px;
}
.e311_58 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:10.429000854492188px;
	height:11.347900390625px;
	position:absolute;
	left:121.29499816894531px;
	top:12.191900253295898px;
}
.e311_59 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:11.51800537109375px;
	height:11.738499641418457px;
	position:absolute;
	left:133.5260009765625px;
	top:12.130200386047363px;
}
.e311_60 { 
	background-color:rgba(26.000000350177288, 50.000000819563866, 52.000000700354576, 1);
	width:10.201904296875px;
	height:15.089420318603516px;
	position:absolute;
	left:81.40899658203125px;
	top:8.450380325317383px;
}
.e312_64 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:30px;
	position:absolute;
	left:215px;
	top:1847px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e314_65 { 
	width:666px;
	height:476px;
	position:absolute;
	left:850px;
	top:2386px;
	background-image:url(images/cookies___production_sticky_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e304_19 { 
	color:rgba(161.0000056028366, 139.0000069141388, 92.00000211596489, 1);
	width:1102px;
	height:300px;
	position:absolute;
	left:199px;
	top:1937px;
	font-family:GT Super Display;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
